* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  display: flex;
  width: 100%;
  background-color: lightgray;
  height: 100%;
}
.homepage {
  display: flex;
  min-height: 100vh;
  background-color: white;
  align-items: center;
  flex-direction: column;
  margin-right: 30%;
  margin-left: 30%;
  box-shadow: 3px 4px 50px #8888;
}
.header {
  display: flex;
  padding: 1%;
  width: 100%;
  gap: 3px;
}
.profilePicture {
  box-shadow: 3px 4px 7px #7777;
}
.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 5%;
  background-color: white;
  box-shadow: 1px 2px 19px #7777;
}
.aboutTitle {
  padding: 1%;
  margin-left: 2%;
  font-weight: 900;
}
.aboutText {
  font-weight: 550;
  font-size: 13px;
  word-spacing: 1%;
  width: 95%;
  margin-left: 2%;
}
.socials {
  display: flex;
  padding: 2%;
  width: 95%;
  gap: 5px;
  justify-content: end;
}
.midSection {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 50%;
  padding: 1%;
  padding-bottom: 2%;
}
.workTitle {
  margin-bottom: 1%;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  padding-bottom: 7%;
  height: 100%;
}
.projectOne {
  display: flex;
  padding: 1%;
  font-size: 12px;
  width: 25%;
  height: 45%;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: 3px 4px 19px #8888;
}
.indivProject {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.projectImageOne {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding-top: 55%;
  height: 100%;
}
.projectImageTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 43, 226);
  width: 100%;
  padding-top: 55%;
  height: 100%;
}
.projectImageThree {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 189, 226);
  width: 100%;
  padding-top: 55%;
  height: 100%;
}
.projectImageFour {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 214, 29);
  width: 100%;
  padding-top: 55%;
  height: 100%;
}
.projectImageFive {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 151, 33);
  width: 100%;
  padding-top: 55%;
  height: 100%;
}
.projectImageSix {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 43, 67);
  width: 100%;
  padding-top: 55%;
  height: 100%;
}
.projectDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.projectHeader {
  display: flex;
  justify-content: space-between;
}
.projectName {
  font-size: 13px;
  margin-top: 2%;
  margin-left: 2%;
}
.projectSocials {
  margin-right: 5%;
  margin-top: 2%;
}
.projectText {
  padding-bottom: 15%;
}
.projectTwo {
  display: flex;
  padding: 1%;
  font-size: 12px;
  width: 25%;
  height: 45%;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: 3px 4px 19px#8888;
}
.projectThree {
  display: flex;
  padding: 1%;
  font-size: 12px;
  width: 25%;
  height: 45%;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: 3px 4px 19px #8888;
}
.projectFour {
  display: flex;
  padding: 1%;
  font-size: 12px;
  width: 25%;
  height: 45%;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: 3px 4px 19px #8888;
}
.projectFive {
  display: flex;
  padding: 1%;
  font-size: 12px;
  width: 25%;
  height: 45%;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: 3px 4px 19px #8888;
}
.projectSix {
  display: flex;
  padding: 1%;
  font-size: 12px;
  width: 25%;
  height: 45%;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: 3px 4px 19px #8888;
}
.footer {
  display: flex;
  background-color: rgba(8, 145, 178, 0.78);
  height: 100%;
  width: 100%;
  padding-bottom: 10%;
  box-shadow: 1px 0px 15px #7777;
}
.contact {
  font-weight: 500;
  color: white;
  padding-top: 6%;
  padding-left: 6%;
  width: 40%;
  height: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.contactHeader {
  font-size: 25px;
  font-weight: 600;
  font-weight: 500;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.contactPhone {
  display: flex;
  gap: 10px;
  font-weight: 500;
}
.contactMail {
  display: flex;
  font-weight: 500;
  gap: 10px;
}
.socialsFooter {
  display: flex;
  gap: 10px;
}
.picturePhone {
  margin-left: 5%;
  margin-top: 5%;
  box-shadow: 10px 10px 10px #7777;
}
